// PT fonts for the logo
@import "../fonts/stylesheet.css";

// Round buttons
@import "./round-buttons.scss";

html, body {
    /*height needs to be 100% to take full screen*/
    height: 100%;
}

/*Making rendeder to overlay over video*/
#renderer_canvas {
    // box-shadow: inset 0 0 20px #ddd;
    position: absolute;
    z-index: 1050;
}
#remote_video {
    /* box-shadow: 0px 0px 20px 0px #aaa; */
    position: absolute;
    z-index: 1040;
}

/*This is needed to make login drop a little wider*/
.dropdown-menu {
    min-width: 20rem;
}

#remoteMap_canvas {
    cursor: crosshair;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.shadow-left {
    box-shadow: 0 0 20px 0 #aaa;
}

.shadow-right {
    box-shadow: 0 0 20px 0 #aaa;
}